/* Reset margins and padding for all elements */
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

/* Body styles */
body {
    
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

/* Header styling */
header {
    background-color: #003153;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hero-icon {
    width: 10px;
    height: 10px;
    stroke: white;
    fill: #ff8800;
    background-color: #ff8800;
}


.movies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding: 20px;
    box-sizing: border-box;
}

/* Movie container styling */
.movie-container {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 450px; 
    width: 100%;  
    overflow: hidden; 
}


.movie-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}


.movie-thumbnail {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Movie title styling */
h2 {
    font-size: 1.2rem;
    color: #003153;
    margin: 10px 0;
}

/* Movie description and other text styling */
p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

/* View details button styling */
.view-details-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #003153;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.view-details-btn:hover {
    background-color: #005f73;
}
.action-button {
    margin-top: 15px;
    background-color: #003153; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 0.3s ease; 
}

.action-button:hover {
    background-color: #add8e6; 
    color: black; 
}



/* Responsive design for medium screens */
@media (max-width: 1200px) {
    .movies-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
    }
}

/* Responsive design for small screens */
@media (max-width: 800px) {
    .movies-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
}

/* Responsive design for very small screens */
@media (max-width: 500px) {
    .movies-container {
        grid-template-columns: 1fr; /* 1 column on very small screens */
    }
}
